body {
    font-family: "Inter", sans-serif;
}
.navbar1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color: #FCF5ED;
}
ul{
    list-style-type: none;
    display: flex;
    gap: 10px;
}
a{
    color: #1F1717;
    text-decoration: none;
}